# Ignora a pasta de dependências
node_modules/
.wwebjs_auth/
.wwebjs_cache/
temp/
*.log


# Logs
*.log
npm-debug.log*

# Variáveis de ambiente
.env

# Cache do sistema operacional
.DS_Store

# Pasta do VSCode
.vscode/

# Arquivos temporários
*.tmp
.wwebjs_cache/2.3000.1024849293.html
.wwebjs_cache/2.3000.1024851310.html
.wwebjs_cache/2.3000.1024854719.html
